<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="thread01" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="thread02" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>

  <thread01>
    <add key="tempoThread01" value="1"/>
  </thread01>

  <thread02>
    <add key="tempoThread02" value="1"/>
  </thread02>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>  
</configuration>